
<section>
    <div class="container">
      <h1 class="invisible-advantages">advantages</h1>
      <ul class="advantages-list">
        <li class="advantages-list-item">
          <img srcset="./image/image-advantages/721.png 1x, ./image/image-advantages/721@2x.png 2x"
            src="./image/721.png" alt="milk" width="50" />          
          <h2 class="advantages-title">721</h2>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li class="advantages-list-item">
          <img srcset="./image/image-advantages/16.png 1x, ./image/image-advantages/16@2x.png 2x"
          src="./image/16.png" alt="apple" width="50" />
          <h2  class="advantages-title">16kg</h2>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages-list-item">
          <img srcset="./image/image-advantages/84.png 1x, ./image/image-advantages/84@2x.png 2x"
          src="./image/84.png" alt="apple" width="44" />
           <h2  class="advantages-title">84</h2>
          <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
      </ul>
    </div>
  </section>