<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Our contacts</h2>
        <div class="contacts__list">
            <ul class="contacts__set list">
                <li class="contacts__item">
                    <div class="contacts__item-city">
                        <p class="contacts__item-name">
                            Cafe 
                        </p>
                        <p class="contacts__item-city-name">
                            Chicago
                        </p>
                        <p class="contacts__item-city-description">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    <div class="contacts__item__working-hours">
                        <p class="contacts__item__working-hours-days">Monday - Friday</p>
                        <p class="contacts__item__working-hours-hours weekday"><time>06:00</time>AM - <time>10:00</time> PM</p>
                        <p class="contacts__item__working-hours-days">Saturday - Sunday</p>
                        <p class="contacts__item__working-hours-hours"><time>10:00</time> AM - <time>16:00</time> PM</p>
                    </div>
                    <div class="contacts__contacts-set">
                        <ul class="contacts__contacts-list list">
                            <li>
                                <a href="tel:+610383766284" class="contacts__contacts-list-item">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a href="mailto:noreply@envato.com" class="contacts__contacts-list-item">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts__item-city">
                        <p class="contacts__item-name contacts__item-name__food-truck">
                            Food Truck 
                        </p>
                        <p class="contacts__item-city-name">
                            Los Angeles
                        </p>
                        <p class="contacts__item-city-description">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    <div class="contacts__item__working-hours">
                        <p class="contacts__item__working-hours-days">Monday - Friday</p>
                        <p class="contacts__item__working-hours-hours weekday"><time>06:00</time>AM - <time>10:00</time> PM</p>
                        <p class="contacts__item__working-hours-days">Saturday - Sunday</p>
                        <p class="contacts__item__working-hours-hours"><time>10:00</time> AM - <time>16:00</time> PM</p>
                    </div>
                    <div class="contacts__contacts-set">
                        <ul class="contacts__contacts-list list">
                            <li>
                                <a href="tel:+610383766284" class="contacts__contacts-list-item">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a href="mailto:noreply@envato.com" class="contacts__contacts-list-item">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts__item-city">
                        <p class="contacts__item-name">
                            Cafe 
                        </p>
                        <p class="contacts__item-city-name">
                            New York
                        </p>
                        <p class="contacts__item-city-description">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    <div class="contacts__item__working-hours">
                        <p class="contacts__item__working-hours-days">Monday - Friday</p>
                        <p class="contacts__item__working-hours-hours weekday"><time>06:00</time>AM - <time>10:00</time> PM</p>
                        <p class="contacts__item__working-hours-days">Saturday - Sunday</p>
                        <p class="contacts__item__working-hours-hours"><time>10:00</time> AM - <time>16:00</time> PM</p>
                    </div>
                    <div class="contacts__contacts-set">
                        <ul class="contacts__contacts-list list">
                            <li>
                                <a href="tel:+610383766284" class="contacts__contacts-list-item">+61(0) 383 766 284</a>
                            </li>
                            <li>
                                <a href="mailto:noreply@envato.com" class="contacts__contacts-list-item">noreply@envato.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="contacts__buttons">
            <button type="button" class="contacts__button">Our Locations
                <svg class="contacts__icon-arrow" width="11" height="11">
                    <use href=""></use>
                </svg>
            </button>
            <button type="button" class="contacts__button">Franchise</button>
        </div>
    </div>
</section>