<section id="our-contacts" class="contacts">
    <div class="container-contacts">
        <h2 class="visually-hidden">Our contacts</h2>
        <div class="contacts__list">
            <ul class="contacts__set list">
                <li class="contacts__item">
                    <div class="contacts__item-city">
                        <p class="contacts__item-name">
                            Cafe 
                        </p>
                        <p class="contacts__item-city-name">
                            Chicago
                        </p>
                        <p class="contacts__item-city-description">
                            Chicago’s premier coffee and ice-cream clubhouse
                        </p>
                    </div>
                    <div class="contacts__item__working-hours">
                        <p class="contacts__item__working-hours-days">Monday - Friday</p>
                        <p class="contacts__item__working-hours-hours weekday"><time>06:00</time>AM - <time>10:00</time> PM</p>
                        <p class="contacts__item__working-hours-days">Saturday - Sunday</p>
                        <p class="contacts__item__working-hours-hours"><time>10:00</time> AM - <time>09:00</time> PM</p>
                    </div>
                    <div class="contacts__contacts-set">
                        <ul class="contacts__contacts-list list">
                            <li>
                                <a href="tel:+17736612468" class="contacts__contacts-list-item">+1 (773) 661-2468</a>
                            </li>
                            <li>
                                <a href="mailto:info_chicago@icecream.com" class="contacts__contacts-list-item">info@icecream.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts__item-city">
                        <p class="contacts__item-name contacts__item-name__food-truck">
                            Food Truck 
                        </p>
                        <p class="contacts__item-city-name">
                            Los Angeles
                        </p>
                        <p class="contacts__item-city-description">
                            Ice-cream trucks located in different parts of the city
                        </p>
                    </div>
                    <div class="contacts__item__working-hours">
                        <p class="contacts__item__working-hours-days">Monday - Friday</p>
                        <p class="contacts__item__working-hours-hours weekday"><time>06:00</time>AM - <time>10:00</time> PM</p>
                        <p class="contacts__item__working-hours-days">Saturday - Sunday</p>
                        <p class="contacts__item__working-hours-hours"><time>10:00</time> AM - <time>09:00</time> PM</p>
                    </div>
                    <div class="contacts__contacts-set">
                        <ul class="contacts__contacts-list list">
                            <li>
                                <a href="tel:+13237438100" class="contacts__contacts-list-item">+1 (323) 743-8100</a>
                            </li>
                            <li>
                                <a href="mailto:info_la@icecream.com" class="contacts__contacts-list-item">info@icecream.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="contacts__item">
                    <div class="contacts__item-city">
                        <p class="contacts__item-name">
                            Cafe 
                        </p>
                        <p class="contacts__item-city-name">
                            New York
                        </p>
                        <p class="contacts__item-city-description">
                            New York’s premier coffee and ice-cream clubhouse
                        </p>
                    </div>
                    <div class="contacts__item__working-hours">
                        <p class="contacts__item__working-hours-days">Monday - Friday</p>
                        <p class="contacts__item__working-hours-hours weekday"><time>06:00</time>AM - <time>10:00</time> PM</p>
                        <p class="contacts__item__working-hours-days">Saturday - Sunday</p>
                        <p class="contacts__item__working-hours-hours"><time>10:00</time> AM - <time>09:00</time> PM</p>
                    </div>
                    <div class="contacts__contacts-set">
                        <ul class="contacts__contacts-list list">
                            <li>
                                <a href="tel:+16468337839" class="contacts__contacts-list-item">+1 (646) 833-7839</a>
                            </li>
                            <li>
                                <a href="mailto:info_nyc@icecream.com" class="contacts__contacts-list-item">info@icecream.com</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div class="contacts__buttons">
            <button type="button" class="contacts__button contacts__button--location" data-modal-map-open>
                <span class="contacts__button-label">Our Locations</span>
                <svg class="contacts__icon-arrow" width="5" height="8">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </button>
            <button type="button" class="contacts__button" data-modal-franchise-open>
                <span class="contacts__button-label">Franchise</span>
                <svg class="contacts__icon-arrow franchise" width="5" height="8">
                    <use href="./images/icons.svg#icon-arrow"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
