<link rel="stylesheet" href="../sass/components/_contacts.scss">
<section class="contacts">
    <div class="container">
        <h2 class="visually-hidden">Our contacts</h2>
        <div class="contacts__list">
            <ul class="contacts__set list">
                <li class="contacts__item">Cafe</li>
                <li class="contacts__item">Restraunt</li>
                <li class="contacts__item">Cafe</li>
            </ul>
        </div>
        <div class="contacts__buttons">
            <button type="button" class="button contacts__button-location">Our Locations</button>
            <button type="button" class="button contacts__button-franchise">Franchise</button>
        </div>
    </div>
</section>