<section>
    <div class="gallery">
        <div class="gallery__cards">
            <div class="gallery__cards-ice"></div>
        </div>
        <div class="gallery__cards">
            <div class="gallery__cards-ice"></div>
            <div class="gallery__cards-ice"></div>
        </div>
        <div class="gallery__cards gallery__cards-big">
            <div class="gallery__cards-ice-big"></div>
            <div class="gallery__cards-ice"></div>
        </div>
        <div class="gallery__cards">
            <div class="gallery__cards-ice"></div>
            <div class="gallery__cards-ice"></div>
        </div>
        <div class="gallery__cards">
            <div class="gallery__cards-ice"></div>
            <div class="gallery__cards-ice"></div>
        </div>
        <div class="gallery__cards">
            <div class="gallery__cards-ice"></div>
        </div>
    </div>
</section>