<section class="hero">
    <div class="hero__container">
        <h1 class="hero__title">
            ice cream<br/>
            made with<br/>
            <span class="hero__title--accent">
                passion
            </span>
        </h1>
        <ul class="hero__list-anchor">
            <li class="hero__item-anchor">
                <a href="#" class="hero__link-anchor hero__link-anchor--dark">
                    Products
                </a>
            </li>
            <li class="hero__item-anchor">
                <a href="#" class="hero__link-anchor hero__link-anchor--light">
                    How it’s made?
                </a>
            </li>
        </ul>
    </div>
</section>