<section class="hero">
    <div class="hero__container">

        <h1 class="hero__title">
            ice cream<br/>
            made with<br/>
            <span class="hero__title--accent">
                passion
            </span>
        </h1>
        <ul class="hero__list-anchor">
            <li class="hero__item-anchor">
                <a href="#" class="hero__link-anchor hero__link-anchor--dark">
                    Products
                </a>
            </li>
            <li class="hero__item-anchor">
                <a href="#" class="hero__link-anchor hero__link-anchor--light">
                    How it’s made?
                </a>
            </li>
        </ul>

        <ul class="hero__list-number">
            <li class="hero__item-number">
                <p class="hero__text-number">
                    16
                    <span class="hero__text-number--light">
                        cafes
                    </span>
                </p>
                <div class="hero__decor-circle--small"></div>
            </li>
            <li class="hero__item-number">
                <p class="hero__text-number">
                    23
                    <span class="hero__text-number--light">
                        food trucks
                    </span>
                </p>
                <div class="hero__decor-circle--small"></div>
            </li>
        </ul>
        <div class="hero__part--bottom">
            <img src="./images/header-hero/hero-milk-desktop.png" alt="Milk" class="hero__img-milk">
            <p class="hero__text--bottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        </div>
        <img src="./images/header-hero/hero-girl-desktop.png" alt="Girl" class="hero__img-girl">
    </div>

    <div class="hero__decor-circle--big"></div>
    <img src="./images/header-hero/hero-icecream-desktop.png" alt="IceCream" class="hero__img-icecream">
</section>