<section class="products">
    <p>100% natural</p>
    <h2>products</h2>
    <ul class="products__block">
        <li class="products-link products-link-pink">
            <h3>ice cream</h3>
            <div class="point"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="products__button" type="button">
                <use>
                    <svg></svg>
                </use>
            </button>

        </li>
        <li class="products-link products-link-coffee">
            <h3>ice coffee</h3>
            <div class="point"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="products__button" type="button">
                <use>
                    <svg></svg>
                </use>
            </button>
        </li>
        <li class="products-link products-link-green">
            <h3>milkshakes</h3>
            <div class="point"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            <button class="products__button" type="button">
                <use>
                    <svg></svg>
                </use>
            </button>
        </li>
    </ul>
</section>