<section id="products" class="products">
    <div class="container container-products">
        <p class="products__line">100% natural</p>
        <h2 class="products__text">products</h2>
        <ul class="products__blok">
            <li class="products__link products__link--ping">
                <h3 class="products__link-text">ice cream</h3>
                <picture>
                    <source srcset="./images/products/ice-cream480@2x.png 2x,
                     ./images/products/ice-cream480.png 1x " media="(max-width: 768px)">
                     <source srcset="./images/products/ice-cream768@2x.png 2x,
                     ./images/products/ice-cream768.png 1x " media="(max-width: 1199px)">
                     <source srcset="./images/products/ice-cream1200@2x.png 2x,
                     ./images/products/ice-cream1200.png 1x " media="(min-width: 1200px)">
                     <img class="products__link-img" src="./images/products/ice-cream480.png" 
                     alt="ice cream">
                </picture>
                <div class="point"></div>
                <p class="product__link-text--change">2 cups heavy cream.
                    1 cup whole milk.
                    ⅔ cup sugar.
                    ⅛ teaspoon fine sea salt.
                    6 large egg yolks.
                    Your choice of flavoring  </p>
                <button class="products__button" type="button">
                    <svg class="products__icon" width="20px" heigt="20px">
                        <use href="./images/icons.svg#icon-direction-right">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="products__link products__link--coffee">
                <h3 class="products__link-text">ice coffee</h3>
                <picture>
                    <source srcset="./images/products/ice-coffee480@2x.png 2x,
                     ./images/products/ice-coffee480.png 1x " media="(max-width: 768px)">
                     <source srcset="./images/products/ice-coffee768@2x.png 2x,
                     ./images/products/ice-coffee768.png 1x " media="(max-width: 1199px)">
                     <source srcset="./images/products/ice-coffee1200@2x.png 2x,
                     ./images/products/ice-coffee1200.png 1x " media="(min-width: 1200px)">

                     <img class="products__link-img" src="./images/products/ice-coffee480.png" 
                     alt="ice coffee">
                </picture>
                <div class="point"></div>
                <p class="product__link-text--change">2 cups heavy cream.
                    1 cup whole milk.
                    ⅔ cup sugar.
                    ⅛ teaspoon fine sea salt.
                    6 large egg yolks.
                    Your choice of flavoring </p>
                <button class="products__button" type="button">
                    <svg class="modal-icon modal-icon-mobil" width="20px" heigt="20px">
                        <use href="./images/icons.svg#icon-direction-right">
                        </use>
                    </svg>
                </button>
            </li>
            <li class="products__link products__link--green">
                <h3  class="products__link-text">milkshakes</h3>
                <picture>
                    <source srcset="./images/products/milkshares480@2x.png 2x,
                     ./images/products/milkshares480.png 1x " media="(max-width: 768px)">
                     <source srcset="./images/products/milkshares768@2x.png 2x,
                     ./images/products/milkshares768.png 1x " media="(max-width: 1199px)">
                     <source srcset="./images/products/milkshares1200@2x.png 2x,
                     ./images/products/milkshares1200.png 1x " media="(min-width: 1200px)">
                     <img class="products__link-img" src="./images/products/milkshares480.png" 
                     alt="milkshakes">
                </picture>
                <div class="point"></div>
                <p class="product__link-text--change">2 cups heavy cream.
                    1 cup whole milk.
                    ⅔ cup sugar.
                    ⅛ teaspoon fine sea salt.
                    6 large egg yolks.
                    Your choice of flavoring </p>
                <button class="products__button" type="button">
                    <svg class="modal-icon modal-icon-mobil" width="20px" heigt="20px">
                        <use href="./images/icons.svg#icon-direction-right">
                        </use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>