<section class="section">
    <h2 class="visualy-hidden">Customer Reviews</h2>
    <div class="container one-time">
        <div>
            <img src="" alt="Emily photo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, deserunt aliquam reprehenderit illo dolores reiciendis maxime velit mollitia debitis labore.</p>
            <h3>Emily, Los Angeles</h3>
        </div>
        <div>
            <img src="" alt="Kate photo">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, tempora!</p>
            <h3>Kate, Dnipro</h3>
        </div>
        <div>
            <img src="" alt="Olexandra photo">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque et earum, quibusdam officiis quo dolore placeat nulla impedit saepe distinctio rem dolorem est voluptate molestiae nobis. Numquam ea eius ut?</p>
            <h3>Olexandra, Lviv</h3>
        </div>
      </div>
</section>
