.invisible-advantages{
    display: none;
}


.advantages-title{
font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 58px;
line-height: 66px;
letter-spacing: 0.04em;
text-transform: lowercase;
color: var(--accent-color);
}

@media screen and (min-width: 320px) {
.advantages-title {
    font-size: 36px;
    padding-top: 16px; 
    margin: 0;
    }
    }
@media screen and (min-width: 768px) {
.advantages-title {
    font-size: 48px;
    padding-top: 36px;
    margin-bottom: 0;
        }
        }
@media screen and (min-width: 1200px) {
.advantages-title {
    padding-top: 40px;
    margin: 0;
    } }        


.advantages-text {

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 176%;

letter-spacing: 0.02em;

color:var(--secondary-text-color);
}
@media screen and (min-width: 320px) {
.advantages-text {
    font-size: 12px;
    padding-top: 16px;
    margin: 0; 
    }}
@media screen and (min-width: 768px) {
.advantages-text {
    font-size: 14px;
    padding-top: 13px;
    margin: 0; 
        }}
@media screen and (min-width: 1200px) {
.advantages-text {
    padding-top: 4px;
    margin: 0;        
    }}


.advantages-list {    
    list-style: none;
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width: 768px) {
.advantages-list {
     display: flex;  
    }
    }
@media screen and (min-width: 1200px) {
.advantages-list {
    display: flex;
    
} }

.advantages-list-item {
    margin: 0;
}

@media screen and (min-width: 320px) {
    .advantages-list-item {        
     width: 230px;}
        
         }
@media screen and (max-width: 767px) {
    .advantages-list-item:not(:first-child) {
        padding-top: 32px;
                 } }
 @media screen and (min-width: 768px) {
    .advantages-list-item {
        width: 180px;
        }
    .advantages-list-item :first-child {
        padding-right: 4px;
          }
    .advantages-list-item:last-child {
        padding-left: 22px;}   
                    }
 @media screen and (min-width: 1200px) {
    .advantages-list-item {
     width: calc((100%-32px)/3)
       } 
    .advantages-list-item:first-child {
        padding-right: 115px;
          }
    .advantages-list-item:last-child {
        padding-left: 80px;
              }   
        }
    