
.advantages__title{
font-family: 'Titan One';
font-weight: 400;
font-size: 58px;
line-height: 1.14;
text-transform: lowercase;
color: var(--accent-color);
font-size: 36px;
padding-top: 16px; 
margin: 0;
}
@media screen and (min-width: 768px) {
.advantages__title {
    font-size: 48px;
    padding-top: 36px;
    margin-bottom: 0;
        }
        }
@media screen and (min-width: 1200px) {
.advantages__title {
    padding-top: 40px;
    margin: 0;
    } }        


.advantages__text {

font-family: 'DM Sans';
font-weight: 700;
line-height: 176%;

letter-spacing: 0.02em;
font-size: 12px;
padding-top: 16px;
margin: 0; 

color:var(--secondary-text-color);
}
@media screen and (min-width: 768px) {
.advantages-text {
    font-size: 14px;
    padding-top: 13px;   
        }}
@media screen and (min-width: 1200px) {
.advantages__text {
    padding-top: 4px;
    font-size: 16px;         
    }}


.advantages__list {    
    list-style: none;
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width: 768px) {
.advantages__list {
     display: flex;  
    }
    }
@media screen and (min-width: 1200px) {
.advantages__list {
    display: flex;
    
} }

.advantages__item {
    margin: 0;
}


.advantages__item {    
     width: 230px;}
        
@media screen and (max-width: 767px) {
    .advantages__item:not(:first-child) {
        padding-top: 32px;
                 } }
 @media screen and (max-width: 1199px) {
    .advantages__item {
        width: 180px;
        }
    .advantages-list-item :first-child {
        margin-right: 4px;
          }
    .advantages__item:last-child {
        margin-left: 22px;}   
                    }
 @media screen and (min-width: 1200px) {
    .advantages__item {
     width: calc((100% - 32px)/3)
       } 
    .advantages__item:first-child {
        margin-right:  115px;
          }
    .advantages__item:last-child {
        margin-left: 80px;
              }   
        }
    