.footer {
    padding: 0; 
    background-color: var(--secondary-bcg-color);
}

.footer-container {
    padding-top: 0;
    display: block;
    max-width: 320px;
    @media screen and (min-width: 768px) {
        max-width: 768px;
        padding-left: 16px;
        padding-right: 20px;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.footer-top {
    @media screen and (min-width: 768px) {
        display: flex;
        max-width: 768px;
        padding-bottom: 40px;
        justify-content: space-between;
        align-items: center;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        padding-bottom: 60px;
        align-items: flex-end;
    }
        
}

.footer-title__part1 {
    max-width: 340px;
    margin-bottom: 16px;
    font-family: 'Titan One';
    font-size: 18px;
    text-transform: uppercase;
    color: var(--label-text-color);
    @media screen and (min-width: 768px) {
        max-width: 340px;
        margin-bottom: 12px;
        font-size: 26px;
        letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        margin-bottom: 16px;
        font-weight: 400;
        font-size: 30px;
}
}

.footer-title__part2 {
    max-width: 200px;
    font-family: 'Titan One';
    font-size: 34px;
    text-transform: uppercase;
    color: var(--accent-color);
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        font-size: 48px;
        letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1200px) {
        max-width: 1200px;
        font-size: 58px;
}
}

.footer-social__list {
    display: flex; 
    margin: 40px 0;
    list-style-type: none;
    justify-content: flex-end;
    align-items: baseline;
    @media screen and (min-width: 1200px) {
        margin: 0;
    }
}

.footer-social__item:not(:last-child) {
margin-right: 28px;
}

.footer-social__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    }

.footer-social__icon {
    fill: var(--label-text-color);
    transition: fill var(--transition-function);
        &:hover,
        &:focus {
            fill: var(--accent-color);}
}


.footer-contact {
    display: flex;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    align-items: center;
    justify-content: flex-end;
    
    @media screen and (min-width: 768px) {
        padding-bottom: 0;
        font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

.footer-contact__desc {
    margin: 0;
    color: var(--secondary-text-color);
}

.footer-contact__link {
    color: var(--accent-color); 
}

.footer-copyright {
    max-width: 100%;
    border-top: 1px solid var(--line-footer-color);
    padding-bottom: 3px;
}

.footer-copyright__text {
    max-width: 150px;
    text-align: center;
    margin: 0 auto;
    padding-top: 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    color: var(--additional-text-color);
    @media screen and (min-width: 768px) {
        max-width: 100%;
        padding: 8px 0;
        letter-spacing: 0.02em;
    }
}
