.gallery {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 4px;
    height: 136px;
    background-image: linear-gradient(
        to top,
        var(--primary-text-color) 84%,
        var(--secondary-bcg-color) 18%);
    @media screen and (min-width: 768px){
    height: 327px;
    gap: 6px;
        background-image: linear-gradient(
        to top,
        var(--primary-text-color) 50%,
        var(--secondary-bcg-color) 50%);
    }
    @media screen and (min-width: 1200px){
    padding-left: 93px;
    padding-right: 94px;
    height: 430px;
    gap: 8px;
        background-image: linear-gradient(
        to top,
        var(--primary-text-color) 83%,
        var(--secondary-bcg-color) 15%);
    }
    &__cards {
        z-index: 2;
        width: 43px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 3px;
        @media screen and (min-width: 320px){
        width: 43px;
        height: 100%;
        }
        @media screen and (min-width: 768px){
        width: 105px;
        row-gap: 6px;
        }
        @media screen and (min-width: 1200px){
        width: 138px;
        row-gap: 8px;
        }
    }
        &__cards-ice {
        border-radius: 20px;
        transition: all 1s ease-out;
        @media screen and (min-width: 320px){
        width: 43px;
        height: 43px;
        }
        @media screen and (min-width: 768px){
        width: 105px;
        height: 105px;
        }
        @media screen and (min-width: 1200px){
        width: 138px;
        height: 138px;
        }
        &:hover{
        transform:rotateY(360deg);  
        }
    }
    &__cards-big {
        width: 90px;
        align-items: flex-start;
        @media screen and (min-width: 320px){
        width: 90px;
        }
        @media screen and (min-width: 768px){
        width: 214px;
        }
        @media screen and (min-width: 1200px){
        width: 283px;
        }
    }
    &__cards-ice-big {
        border-radius: 20px;
        transition: all 1s ease-out;
        @media screen and (min-width: 320px){
        width: 90px;
        height: 90px;
        }
        @media screen and (min-width: 768px){
        width: 214px;
        height: 214px;
        }
        @media screen and (min-width: 1200px){
        width: 283px;
        height: 283px;
        }
        &:hover{
        transform:rotateZ(360deg);  
        }
    }
    &__cards-top {
        position: relative;
        top: 10px;
    }
    &__cards-bottom {
        position: relative;
        top: -13px;
        @media screen and (min-width: 768px){
        top: -23px;
        }
    }
    &__cards-last {
        position: relative;
        @media screen and (min-width: 768px){
        top: 13px;
        }
    }
}