.section-gallery {
  padding-top: 30px;
  padding-bottom: 0;
  background-image: linear-gradient(
        to top,
        var(--primary-text-color) 68%,
        var(--secondary-bcg-color) 18%);
    
    @media screen and (min-width: 768px){
        background-image: linear-gradient(
        to top,
        var(--primary-text-color) 47%,
        var(--secondary-bcg-color) 53%);
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 60px;
        padding-top: 60px;
        background-image: linear-gradient(
        to top,
        var(--primary-text-color) 76%,
        var(--secondary-bcg-color) 24%);
      }

}

.gallery {
    perspective: 600px;
    perspective-origin: 50% 0%; 
    position: relative;
    display: flex;
    justify-content: center;
    gap: 4px;
    height: 136px;
    padding-top: 2px;
   
    @media screen and (min-width: 768px){
    height: 327px;
    gap: 6px;
    }
    @media screen and (min-width: 1200px){
    padding-left: 93px;
    padding-right: 94px;
    height: 430px;
    gap: 8px;
    }
    
    &__cards {
        z-index: 2;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 3px;
        @media screen and (min-width: 320px){
        width: 43px;
        height: 100%;
        }
        @media screen and (min-width: 768px){
        width: 105px;
        row-gap: 6px;
        }
        @media screen and (min-width: 1200px){
        width: 138px;
        row-gap: 8px;
        }
    }
        &__cards-ice {
        overflow: hidden;
        border-radius: 8px;
        transition: all 1s linear;
        @media screen and (min-width: 320px){
        width: 43px;
        height: 43px;
        }
        @media screen and (min-width: 768px){
        border-radius: 20px;
        width: 105px;
        height: 105px;
        }
        @media screen and (min-width: 1200px){
        width: 138px;
        height: 138px;
        }
        &:hover{
        transform: scale3d(1.1, 1.1, 1.1);  
        }
    }
    &__cards-big {
        width: 100%;
        align-items: flex-start;
        @media screen and (min-width: 320px){
        width: 90px;
        }
        @media screen and (min-width: 768px){
        width: 214px;
        }
        @media screen and (min-width: 1200px){
        width: 283px;
        }
    }
    &__cards-ice-big {
        overflow: hidden;
        border-radius: 20px;
        transition: all 1s linear;
        @media screen and (min-width: 320px){
        width: 90px;
        height: 90px;
        }
        @media screen and (min-width: 768px){
        width: 214px;
        height: 214px;
        }
        @media screen and (min-width: 1200px){
        width: 283px;
        height: 283px;
        }
        &:hover{
        transform: scale3d(1.05, 1.05, 1.05);  
        }
    }
    &__cards-top {
        position: relative;
        top: 10px;
    }
    &__cards-bottom {
        position: relative;
        top: -13px;
        @media screen and (min-width: 768px){
        top: -23px;
        }
    }
    &__cards-last {
        position: relative;
        transition: all 1s linear;
        @media screen and (min-width: 768px){
        top: 13px;
        }
    }
  }