.hero {
    margin: 0 auto;
    width: 100%;
    padding-top: 194px;
    padding-bottom: 158px;
    background-color: var(--main-bcg-color);

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-top: 102px;
        padding-bottom: 16px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding-top: 147px;
        padding-bottom: 60px;
    }


    &__container {
            width: 100%;
            padding-left: 20px;
            padding-right: 20px;
        
            @media screen and (min-width: 320px) {
                width: 320px;
            }
        
            @media screen and (min-width: 768px) {
                width: 768px;
                padding-left: 32px;
                padding-right: 32px;
            }
        
            @media screen and (min-width: 1200px) {
                width: 1200px;
                padding-left: 16px;
                padding-right: 16px;
            }
    }

    &__title {
        margin: 0;
        font-family: 'Titan One';
        font-weight: 400;
        font-size: 26px;
        line-height: 1.15;
        text-transform: uppercase;
        color: var(--primary-text-color);

        @media screen and (min-width: 768px) {
            font-size: 22px;
            line-height: 1.14;
        }
    
        @media screen and (min-width: 1200px) {
            font-size: 38px;
            line-height: 1.15;
        }
    }

        &__title--accent {
            font-size: 48px;
            line-height: 0.96;
            color: var(--accent-color);

            @media screen and (min-width: 768px) {
                font-size: 34px;
                line-height: 0.91;
            }
        
            @media screen and (min-width: 1200px) {
                font-size: 58px;
                line-height: 0.9;
            }
        }

    &__list-anchor {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        margin-top: 20px;

        @media screen and (min-width: 1200px) {
            margin-top: 24px;
        }
    }

    &__item-anchor:not(:last-child) {
        margin-right: 8px;

        @media screen and (min-width: 1200px){
            margin-right: 12px;
        }
    }

    &__link-anchor {
        height: 24px;
        padding: 0 12px;
        text-decoration: none;
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.25;
        border-radius: 20px;


        @media screen and (min-width: 1200px) {
            height: 40px;
            padding: 0 23px;
            font-size: 14px;
            line-height: 1.29;
        }

    }

    &__link-anchor--dark {
        background-color: var(--accent-color);
        color: var(--primary-text-color);
        transition: background-color var(--transition-function), color var(--transition-function);

        &:hover,
        &:focus {
            background-color: var(--button-hover-color);
            color: var(--accent-color);
        }
    }

    &__link-anchor--light {
        background-color: var(--primary-text-color);
        color: var(--accent-color);
        transition: background-color var(--transition-function);
        
        &:hover,
        &:focus {
            background-color: var(--button-hover-color);
        }
    }
}
